{% extends 'base.html.twig' %}

{% block body %}

	<h2 class="mt-5 mb-5 text-center text-danger">Commentaires Supprimer</h2>

	<div class="d-flex justify-content-center">
		<a href="/public/comment">
			<button type="button" class="btn btn-primary">Retour</button>
		</a>
	</div>

{% endblock %}